@model IEnumerable<ProductionManagment.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h1>City</h1>
<h5>In this section you can add city where you have a supplires. Don't forget add your supplier to address book'</h5>

<p>
    <a asp-action="Create">Create New</a>
</p>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostOfWorkingHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostOfWorkingHour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
